label {
    display: block;
}

body {
    padding: 0;
    margin: 0;
}

header {
    height: 56px;
    padding: 0;
}
header h1 {
    margin: 0;
}

.progress {
    width: 50%;
    height: 100%;
    background-color: antiquewhite;
}
.form {
    width: 45%;
    height: 100%;
    padding: 20px;
}

main {
    height: calc(100vh - 96px);
}

/* ------------------------------------- */
/* --------------- chess --------------- */
/* ------------------------------------- */

.chess-container {
    position: relative;
    height: 20vh;
    width: 90%;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40%;
}
.chess {
    position: absolute;
    height: 200px;
    width: 100px;
    background: blueviolet;
    bottom: 40px;
    left: 146px;
    z-index: 100;
}
.chess-base {
    width: 100%;
    position: absolute;
    height: 100px;
    bottom: 0;
    overflow: auto;
}
.chess-base-box {
    width: 100%;
    bottom: 0;
    position: absolute;
    display: flex;
    padding-left: 140px;
    padding-right: 140px
}
.chess-base-position {
    background: white;
    height: 40px;
    margin: 8px;
    flex: 0 0 132px;
}
.blank-space {
    width: 140px;
    height: 40px;
    flex: 0 0 132px;
}

/* ------------------------------------- */
/* ----------- public styles ----------- */
/* ------------------------------------- */

.flex-row {
    display: flex;
    flex-direction: row;
}

.full-width {
    width: 100%;
}

.hide {
    display: none;
}

label {
    margin-top: 20px;
}

.text-lg {
    font-size: 1.5em;
}
.text-sm {
    font-size: 0.89em;
}

/* ------------------------------------- */
/* ----- override bootstrap styles ----- */
/* ------------------------------------- */

.form-control-lg {
    border-color: blueviolet;
    border-width: 1px;
}