label {
    display: block;
}

body {
    padding: 0;
    margin: 0;
}

header {
    height: 56px;
    padding: 0;
}
header h1 {
    margin: 0;
}

.progress-anim {
    width: 50%;
    height: 100%;
    background-color: #eee;
}

.form {
    width: 45%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 80px;
}


main {
    height: calc(100vh - 96px);
    max-height: 790px;
}

/* ------------------------------------- */
/* --------------- chess --------------- */
/* ------------------------------------- */

.chess-container {
    position: relative;
    height: 20vh;
    width: 90%;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
}
.chess {
    position: absolute;
    height: 200px;
    width: 100px;
    background-image: url("../assets/images/chess_rook.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 30px;
    left: 130px;
    z-index: 100;
}
.chess-base {
    width: 100%;
    position: absolute;
    height: 100px;
    bottom: 0;
    overflow: auto;
}
.chess-base-box {
    width: 100%;
    bottom: 10px;
    position: absolute;
    display: flex;
}
.chess-base-position {
    background: rgb(220, 175, 136);
    height: 40px;
    margin: 8px;
    margin-bottom: 30px;
    flex: 0 0 132px;
    border-bottom:10px solid rgb(203, 154, 111);
    box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.803);
}
.blank-space {
    width: 140px;
    height: 40px;
    flex: 0 0 132px;
    background-color: rgb(57, 181, 110);
    border-bottom:10px solid rgb(50, 157, 96);
    box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.803);
}

.splide__pagination li:last-child button {
    background: rgb(50, 157, 96);;
}

/* ------------------------------------- */
/* ------------ form styles ------------ */
/* ------------------------------------- */

.input-image-preview {
    background: url("cover_image.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}
#btnAddImg {
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.235);
    color: white;
    padding-top: 120px;
    font-size: 2em;
    opacity: 0;
    transition: opacity 0.5s;
}
#btnAddImg:hover{
    cursor: pointer;
    opacity: 1;
}
textarea {
    height: 14em !important;
}

.success-container {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.success-container img {
    width: 200px;
}

.success-container h4 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn-map {
    background: #C58080;
    color: white;
    padding: 10px 20px;
}
.btn-map h5 {
    color: white;
    margin: 0;
}
.btn-map p {
    margin: 0;
}

.btn-map:hover {
    color: white;
    opacity: 0.9;
}
/* ------------------------------------- */
/* ----------- public styles ----------- */
/* ------------------------------------- */

.flex-row {
    display: flex;
    flex-direction: row;
}

.full-width {
    width: 100%;
}

.hide {
    display: none;
}

label {
    margin-top: 20px;
}

.text-lg {
    font-size: 1.5em;
}

.text-sm {
    font-size: 0.89em;
}

/* ------------------------------------- */
/* ----- override bootstrap styles ----- */
/* ------------------------------------- */

.form-control-lg {
    border-color: var(--color-sedondary-dark);
    border-width: 1px;
}
.valid-feedback {
    color: var(--color-warning);
    font-size: 1em;
}

#progressContainer {
    background: #eee;
}


/* ------------------------------------- */
/* ----- override splide styles ----- */
/* ------------------------------------- */
.splide__arrow--next,
.splide__arrow--prev {
    display: none;
}

.splide__pagination {
    bottom: 0;
}

.splide__pagination__page {
    pointer-events: none;
}

.splide__track {
    pointer-events: none;
}

.splide__pagination__page.is-active {
    background-color: blueviolet;
}