label {
    display: block;
}

body {
    padding: 0;
    margin: 0;
}

header {
    height: 56px;
    padding: 0;
}
header h1 {
    margin: 0;
}

.progress-anim {
    width: 50%;
    height: 100%;
    background-color: #eee;
}

.form {
    width: 45%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 80px;
}


main {
    height: calc(100vh - 96px);
    max-height: 790px;
}

/* ------------------------------------- */
/* --------------- chess --------------- */
/* ------------------------------------- */

.chess-container {
    position: relative;
    height: 20vh;
    width: 90%;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
}
.chess {
    position: absolute;
    height: 200px;
    width: 100px;
    background: blueviolet;
    bottom: 40px;
    left: 130px;
    z-index: 100;
}
.chess-base {
    width: 100%;
    position: absolute;
    height: 100px;
    bottom: 0;
    overflow: auto;
}
.chess-base-box {
    width: 100%;
    bottom: 0;
    position: absolute;
    display: flex;
}
.chess-base-position {
    background: rgb(215, 168, 127);
    height: 40px;
    margin: 8px;
    margin-bottom: 30px;
    flex: 0 0 132px;
}
.blank-space {
    width: 140px;
    height: 40px;
    flex: 0 0 132px;
}

/* ------------------------------------- */
/* ------------ form styles ------------ */
/* ------------------------------------- */

.input-image-preview {
    background: url("/form/assets/images/cover_image.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}
#btnAddImg {
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.235);
    color: white;
    padding-top: 120px;
    font-size: 2em;
    opacity: 0;
    transition: opacity 0.5s;
}
#btnAddImg:hover{
    cursor: pointer;
    opacity: 1;
}
/* ------------------------------------- */
/* ----------- public styles ----------- */
/* ------------------------------------- */

.flex-row {
    display: flex;
    flex-direction: row;
}

.full-width {
    width: 100%;
}

.hide {
    display: none;
}

label {
    margin-top: 20px;
}

.text-lg {
    font-size: 1.5em;
}

.text-sm {
    font-size: 0.89em;
}

/* ------------------------------------- */
/* ----- override bootstrap styles ----- */
/* ------------------------------------- */

.form-control-lg {
    border-color: blueviolet;
    border-width: 1px;
}


/* ------------------------------------- */
/* ----- override splide styles ----- */
/* ------------------------------------- */
.splide__arrow--next,
.splide__arrow--prev {
    display: none;
}

.splide__pagination {
    bottom: 0;
}

.splide__pagination__page {
    pointer-events: none;
}

.splide__track {
    pointer-events: none;
}

.splide__pagination__page.is-active {
    background-color: blueviolet;
}