:root {
    --side-width: 280px;
    --side-margin: 10px;
    --side-bg-color: #8595C2;
    --primary-yellow: #ffcc00;
    --primary-green: #006633;
}

body, main {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 100vh;
}

header {
    z-index: 100;
    position: absolute;
    width: 100%;
}

.btn-add {
    position: fixed;
    left: 20px;
    bottom: 40px;
    z-index: 100;
    background: white;
    padding: 12px 24px;
    border-radius: 8px;
    box-shadow: 4px 4px 16px rgba(0,0,0,0.15);
}

.bottom-bar {
    position: fixed;
    height: 100px;
    width: 100%;
    bottom: 0;
    background: white;
    z-index: 1000;
}

.tool-bar {
    position: absolute;
    top: 20px;
    right: 20px;
}

#map {
    position: relative !important;
    height: 100%;
    width: 100%;
}

aside {
    padding: 8px;
    right: 0;
    top: 0;
    background: var(--side-bg-color);
    flex: 0 0 var(--side-width);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}


aside .data-list {
    padding-top: 10px;
}

aside .card {
    background: none;
    color: white;
    border: none;
    margin-bottom: 20px;
}

aside .card img {
    margin: 16px;
    margin-bottom: 0;
}

aside .excerpt a {
    color: white;
    text-decoration: underline;
}

aside .card-body {
    position: relative;
}

aside .card-title {
    margin-bottom: 4px;
}
aside .card-location {
    margin-bottom: 16px !important;
}

aside .card-genre {
    position: absolute;
    top: -40px;
    left: 30px;
    border-radius: 16px;
    height: 24px;
    padding: 4px 8px;
    line-height: 1em;
    background: rgba(255, 255, 255, 0.92);
}

aside .card-genre:hover {
    cursor: default;
    background: rgba(255, 255, 255, 0.92);
    color: black;
}

.header-title {
    height: 36px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 16px;
}
.header-title h4 {
    line-height: 32px;
    margin-left: 10px;
    margin-top: 4px;
}

.header-title .title-btn {
    margin: 0;
    height: 100%;
    width: 36px;
    background: var(--primary-yellow);
    border-radius: 0 10px 0 10px;
    text-align: center;
    line-height: 32px;
}

.list-body {
    position: relative;
    height: calc(100% - 72px);
}

.list-tabs {
    height: 32px;
    border-bottom: 1px solid rgb(210, 210, 210);
}
.list-tabs a {
    display: block;
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    height: 32px;
    color: var(--primary-green);
}
ul {
    padding: 0;
    margin: 0;
}
.list-tabs li {
    width: 33%;
    float: left;
    list-style: none;
}
.list {
    height: calc(100% - 32px);
    background: rgb(255, 255, 255);
    padding-top: 1px;
    overflow-y: auto;
}







#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.marker {
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #9500ff;
    cursor: pointer;
    z-index: 0;
}
.marker:after {
    content: '';
	position: absolute;
	bottom: 3px;
	left: 50%;
	width: 2px;
	height: 35px;
	background: linear-gradient(0deg, #ffffff00 0%, #aa00ff 50%);
	border-bottom: 0;
	margin-left: 0;
    margin-bottom: -40px;
}

.mapboxgl-popup-content {
    width: 360px;
    border-radius: 10px;
    padding-bottom: 10px;
}

.mapboxgl-popup-content .mapboxgl-popup-close-button{
    z-index: 100;
    font-size: 2em;
    height: 32px;
    width: 32px;
    background: chartreuse;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
}


.splide {
    visibility: visible;
}
.splide__slide {
    padding-bottom: 20px;
    overflow-y: auto;
}
.splide__arrow--next {
    right: -3em;
}
.splide__arrow--prev {
    left: -3em;
}

.splide__slide h4 {
    font-size: 1.5em;
    font-weight: bold;
}

.slide-header{
    display: flex;
    padding: 8px 20px 8px 20px;
}
.slide-header-title {
    padding-left: 16px;
    padding-top: 16px;
    width: 220px;
}
.slide-header-title a {
    color: black;
}
.cover {
    width: 100%;
    height: 240px;
}
.slide-body {
    background: white;
    padding: 16px;
    border-radius: 8px;
    height: 232px;
    overflow-y: auto;
}

.sodaa-video {
    height: 200px;
}



.active {
    border-bottom: 4px solid #006633;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    margin-top: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    visibility: hidden;;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.15); 
    border-radius: 10px;
  }
  
 .text-sm {
     font-size: small;
     margin: 0;
 }

.genre-group .btn-sm {
    border-radius: 16px;
    margin-right: 8px;
    height: 24px;
    padding: 4px 8px;
    line-height: 1em;
    background: rgba(255, 255, 255, 0.516);
}

.genre-group .btn-sm:hover {
    background: #212529;
}