.image-preview {
    background: #eee;
    padding: 0;
    overflow: hidden;
    height: 200px;
}

#progressContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.619);
    z-index: 1000;
    padding: 45vh 10%;
}

.success-container {
    margin-top: 40px;
    color: white;
}


#notifBar {
    text-align: center;
    padding: 1em;
    height: 60px;
    background: #ffe168;
    border: 1px solid #ffcc00;
    border-radius: 8px;
    position: fixed;
    top: 20px;
    left: 1em;
    right: 1em;
    z-index: 100;
}
#notifBar p {
    width: 100%;
    text-align: center;
}
#notifBar i {
    position: absolute;
    top: 4px;
    right: 4px;
}
#notifBar i:hover {
    cursor: pointer;
}

.text-small {
    font-size: 0.8em;
}