:root {
    --side-width: 240px;
    --side-margin: 10px;
    --primary-yellow: #ffcc00;
    --primary-green: #006633;
}

body, main {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
}

header {
    z-index: 100;
}

.socialbar {
    position: fixed;
    left: 20px;
    bottom: 120px;
    z-index: 100;
    background: white;
    padding: 10px 20px;
    border-radius: 12px;
    box-shadow: 4px 4px 16px rgba(0,0,0,0.15);
}
.social-media {
    display: flex;
    justify-content: space-between;
}
.social-media i {
    font-size: 2em;
}

/*------------------------------------------*/
/*---------------- header ------------------*/
/*------------------------------------------*/

.search-bar {
    padding: 10px;
}
.search-bar input {
    width: 100%;
    border-radius: 24px;
}
.search-bar .search-icon {
    position: absolute;
    right: 16px
}

.filter-bar {
    padding-top: 10px;
    overflow-x: auto;
    white-space: nowrap;
}
.filter-bar button {
    border: 1px solid #888;
    border-radius: 15px;
    margin: 4px;
}


/*------------------------------------------*/
/*------------- popup window ---------------*/
/*------------------------------------------*/

.pop-up {
    height: calc(100% - 16px);
    top: 16px;
    left: 16px;
    right: 16px;
    background: #ffffff;
    position: absolute;
    z-index: 1000;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 4px 4px 16px rgba(0,0,0,0.15);
    padding: 16px;
    padding-top: 44px;
}

.popup-body {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.pop-up .card {
    width: 100% !important;
    margin: 0;
    overflow: auto;
}

.pop-up .card-body {
    padding: 16px 8px !important;
}

.pop-up .close {
    position: absolute;
    background: #ffcc00;
    height: 44px;
    width: 44px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    top: 0;
    right: 0;
    z-index: 100;
    opacity: 1;
}

.recipe-information {
}
.recipe-list-container {
    width: 100%;
}
.recipe-list-container .card {
    width: calc(50% - 8px) !important;
    margin-right: 8px;
    display: inline-block;
}

.list-text {
    margin-left: 18px;
    margin-right: 18px;
    padding-left: 0;
    margin-bottom: 40px;
}

.list-text li {
    margin: 1em 0;
}

.section-title {
    padding-top: 16px;
    font-weight: bold;
    border-top: 1px solid rgb(221, 221, 221);
}

/*------------------------------------------*/
/*---------------- nav bar -----------------*/
/*------------------------------------------*/
.bottom-bar {
    position: fixed;
    height: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    padding-top: 10px;
    z-index: 999;
    border-top: 1px solid #eee;
}

.bottom-bar li {
    list-style: none;
}

.bottom-bar a {
    height: 44px;
    width: 44px;
}

.bottom-bar img {
    width: 36px
}

aside {
    position: absolute;
    top: var(--side-margin);
    bottom: var(--side-margin);
    left: var(--side-margin);
    width: var(--side-width);
    background: rgb(255, 255, 255);
    z-index: 100;
    border-radius: 10px;
    box-shadow: 4px 4px 16px rgba(0,0,0,0.15);
}

.header-title {
    height: 36px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 16px;
}
.header-title h4 {
    line-height: 32px;
    margin-left: 10px;
    margin-top: 4px;
}

.header-title .title-btn {
    margin: 0;
    height: 100%;
    width: 36px;
    background: var(--primary-yellow);
    border-radius: 0 10px 0 10px;
    text-align: center;
    line-height: 32px;
}

.list-body {
    position: relative;
    height: calc(100% - 72px);
}

.list-tabs {
    height: 32px;
    border-bottom: 1px solid rgb(210, 210, 210);
}
.list-tabs a {
    display: block;
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    height: 32px;
    color: var(--primary-green);
}
ul {
    padding: 0;
    margin: 0;
}
.list-tabs li {
    width: 33%;
    float: left;
    list-style: none;
}
.list {
    height: calc(100% - 32px);
    background: rgb(255, 255, 255);
    padding-top: 1px;
    overflow-y: auto;
}
.ppl-card {
    display: flex;
    margin: 10px 10px 10px 10px;
    padding: 8px;
    border: 1px solid #d5d5d5;
    background: white;
    border-radius: 6px;
}
.ppl-card-header {
}
.ppl-card-cover {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    border: 1px solid #006633;
}
.ppl-card-title {
    margin-left: 10px;
    width: 146px;
}
.ppl-card-title .ppl-name{
    font-weight: 700;
    margin-bottom: 4px;
}

.ppl-card-title a{
    font-size: 0.7em;
    padding: 2px 8px;
    height: 22px;
    background: #fff3c1;
    color: #cb9100;
    border-radius: 4px;
}
.ppl-card-title .title-link{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.ppl-card-title .ppl-title {
    font-size: 0.7em;
    color: #888;
}







#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#RH_marker {
    background-image: url('../images/Renaissance.jpg');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #006633;
    cursor: pointer;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
    z-index: 0;
}
#RH_marker:after {
    content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-bottom-color: #006633;
	border-top: 0;
	margin-left: -15px;
	margin-top: -13px;
}

.mapboxgl-popup-content {
    width: 360px;
    border-radius: 10px;
    background: #ffcc00;
    padding-bottom: 5px;
}
.mapboxgl-popup-tip {
    border-bottom-color: #ffcc00 !important;
}
.mapboxgl-popup-content .mapboxgl-popup-close-button{
    z-index: 100;
    font-size: 2em;
    padding: 8px;
}


.splide {
    visibility: visible;
}
.splide__slide {
    padding-bottom: 20px;
}
.splide__pagination {
}
.splide__slide h4 {
    font-size: 1.5em;
    font-weight: bold;
}

.slide-header{
    display: flex;
    padding: 8px 20px 8px 20px;
}
.slide-header-title {
    padding-left: 16px;
    padding-top: 16px;
    width: 220px;
}
.slide-header-title a {
    color: black;
}
.cover {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 4px solid white;
    margin-bottom: 10px;
}
.slide-body {
    background: white;
    padding: 16px;
    border-radius: 8px;
    height: 232px;
    overflow-y: auto;
}

.sodaa-video {
    height: 200px;
}



.active {
    border-bottom: 4px solid #006633;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    margin-top: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    visibility: hidden;;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.15); 
    border-radius: 10px;
  }

.hide {
    display: none;
}
 /* Search bar */

.form-group label {
    font-size: 0.8em;
}
.btn-step-group .btn {
    margin-right: 8px;
}
.bbtn-step-group .btn:last-child {
    margin-right: 0;
}

