@font-face {
    font-family: CaviarDreams;
    src: url('CaviarDreams.ttf');
}
@font-face {
    font-family: CaviarDreams;
    font-weight: bold;
    src: url('CaviarDreams_Bold.ttf');
}

:root {
    --color-primary: #C58080;
    --color-sedondary-dark: #5d6c94;
    --color-warning: rgb(238, 68, 16);
}

h1 {
    font-family: CaviarDreams, Helvetica, sans-serif;
    font-weight: bold;
}

.btn-primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}
.btn-primary:hover {
    background-color: var(--color-sedondary-dark);
    border-color: var(--color-sedondary-dark);
}

#progressContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.619);
    z-index: 1000;
    padding: 45vh 10%;
}

#notifBar {
    width: 100%;
    text-align: center;
    padding: 20px;
    height: 60px;
    background: #ffe168;
    border: 1px solid #ffcc00;
    border-radius: 8px;
    position: fixed;
    top: 20px;
    left: 20%;
    width: 60%;
    z-index: 100;
}
#notifBar p {
    width: 100%;
    text-align: center;
}
#notifBar i {
    position: absolute;
    top: 4px;
    right: 4px;
}
#notifBar i:hover {
    cursor: pointer;
}

