/* ------------------------------------- */
/* ------------ form styles ------------ */
/* ------------------------------------- */


.input-image-preview {
    background: url("../assets/images/cover_image.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}
#btnAddImg {
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.235);
    color: white;
    padding-top: 120px;
    font-size: 2em;
    opacity: 0;
    transition: opacity 0.5s;
}
#btnAddImg:hover{
    cursor: pointer;
    opacity: 1;
}

#progressContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.619);
    z-index: 1000;
    padding: 45vh 10%;
    
}

label {
    margin-top: 20px;
}
.form-control {
    margin-bottom: 4px;
}

form {
    margin-bottom: 40px;
}

.hide {
    display: none;
}

.btn-container {
    width: 100%;
}

#notifBar {
    width: 100%;
    text-align: center;
    padding: 20px;
    height: 60px;
    background: #ffe168;
    border: 1px solid #ffcc00;
    border-radius: 8px;
    position: fixed;
    top: 20px;
    left: 20%;
    width: 60%;
    z-index: 100;
}
#notifBar p {
    width: 100%;
    text-align: center;
}
#notifBar i {
    position: absolute;
    top: 4px;
    right: 4px;
}
#notifBar i:hover {
    cursor: pointer;
}

.round-corner {
    border-radius: 20px;
}

.success-container {
    color: white;
}