:root {
    --sidebar-width: 240px;
    --color-primary: #ECD689;
    --color-secondary: #44B6A0;
}

h1,
h2,
h3,
h4 {
    font-family: leksa-sans, sans-serif;
    font-style: normal;
}

h1, h2, h3 {
    font-weight: 800;
}


body {
    min-height: 100vh;
}

nav {
    margin-bottom: 40px;
    height: 56px;
}

nav img {
    height: 36px;
}

#chart {
    width: calc(100% - var(--sidebar-width) - 20px);
    margin-right: 20px;
    height: 500px;
    overflow: visible;
    padding: 40px;
}

#chart svg {
    overflow: visible;
}

footer {
    height: 56px;
    width: 100%;
    background-color: var(--color-primary);
    margin-top: 40px;
}

.btn-primary {
    background-color: var(--color-primary);
    color: black;
    border: none;
    padding: 10px 40px;
    border-radius: 24px;
}

.btn-primary:hover {
    background-color: var(--color-secondary);
    color: white
}

.recipe-point:hover + .recipe-name {
    display: block;
}

/* ------------------------------------- */
/* ------------ form styles ------------ */
/* ------------------------------------- */

.col {
    margin-left: 20px;
    margin-right: 20px;
}
label {
    margin-top: 4px;
    color: #44B6A0;
}

#instructions ul,
#instructions ol {
    min-height: 60px;
}

#instructionList li {
    display: list-item !important;
}

.btn-remove {
    color: #b6446c;
}

.btn-remove:hover {
    cursor: pointer;
    color: var(--color-secondary);
}

#timeDisplay {
    font-size: 1.2em;
    font-weight: bold;
}
.time-container {
    margin-bottom: 40px;
}
.time-container label {
    padding: 0;
}
