#map {
    position: relative !important;
    height: 100%;
    width: 100%;
}

.full-screen {
    background: #aaa;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 100
}
.full-screen video {
    position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: 'cover';
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}