:root {
    --side-width: 240px;
    --side-margin: 10px;
    --primary-yellow: #ffcc00;
    --primary-green: #006633;
}

body, main {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
}
aside {
    position: absolute;
    top: var(--side-margin);
    bottom: var(--side-margin);
    left: var(--side-margin);
    width: var(--side-width);
    background: rgb(255, 255, 255);
    z-index: 100;
    border-radius: 10px;
    box-shadow: 4px 4px 16px rgba(0,0,0,0.15);
}

/* ------------------------------------- */
/* ------------ form styles ------------ */
/* ------------------------------------- */

.input-image-preview {
    background: url("../assets/cover_image.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}
#btnAddImg {
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.235);
    color: white;
    padding-top: 120px;
    font-size: 2em;
    opacity: 0;
    transition: opacity 0.5s;
}
#btnAddImg:hover{
    cursor: pointer;
    opacity: 1;
}

#progressContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.619);
    z-index: 1000;
    padding: 45vh 10%;
    
}

label {
    margin-top: 20px;
}
.form-control {
    margin-bottom: 4px;
}

form {
    margin-bottom: 40px;
}

#userLocation, #projectLocation {
    width: 100%;
}
#userLocation .mapboxgl-ctrl-geocoder, #projectLocation .mapboxgl-ctrl-geocoder {
    width: 100%;
    box-shadow: none;
    border: 1px solid #ced4da;
}
.mapboxgl-ctrl-geocoder--icon-search {
    width: 0;
    display: none !important;
}
.mapboxgl-ctrl-geocoder--input {
    padding-left: 16px !important;
}

.user-info {
    margin: 20px;
}
.user-info-items {
    margin-bottom: 20px;
}
.image-preview {
    background: #eee;
    padding: 0;
    overflow: hidden;
}
.input-container {
    background: rgba(255, 255, 255, 0.651);
    width: 100%;
    padding: 8px;
}
#notifBar {
    width: 100%;
    text-align: center;
    padding: 20px;
    height: 60px;
    background: #ffe168;
    border: 1px solid #ffcc00;
    border-radius: 8px;
    position: fixed;
    top: 20px;
    left: 20%;
    width: 60%;
    z-index: 100;
}
#notifBar p {
    width: 100%;
    text-align: center;
}
#notifBar i {
    position: absolute;
    top: 4px;
    right: 4px;
}
#notifBar i:hover {
    cursor: pointer;
}
#btnSubmit {
    margin-top: 40px;
    background: #006633;
}
#btnSubmit:hover {
    background: #258856;
}


/* Faculty */
.login {
    color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.947);
    z-index: 10000;
    padding: 200px 10%;
}
.login p {
    text-align: center;
}

.login-form {
    position: relative;
    width: 300px;
    margin: 40px auto;
}
.login-form label {
    font-weight: 600;
}

#btnLogin {
    display: block;
    width: 200px;
}
.auth-btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}



.overlay-full {
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(26, 26, 26, 0.694);
    z-index: 10000;
    padding: 200px 10%;
}
.overlay-full p {
    text-align: center;
}
#uploadInfoLabel {
    font-size: 2em;
}

footer {
    display: block;
    background: #eee;
    width: 100% !important;
    padding-top: 40px;
    margin-top: 80px;
    padding-bottom: 16px;
}

.social-media .fab {
    font-size: 2em;
    margin: 18px;
    color: #006633;
}

.popup-social {
    margin-top: 40px;
}

.popup-social-media .fab {
    font-size: 2.5em;
    margin: 18px;
    color: #ffcc00;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.297);
}

td {
    padding: 4px !important;
}
.expanded {
    position: absolute;
    width: 360px;
    height: 360px;
}
.hide {
    display: none;
}




.red {
    color: red;
}

.red-border {
    border: 1px solid rgb(255, 104, 87) !important;
}

.hide {
    display: none;
}

.word-count {
    display: block;
    width: 100%;
    font-size: 0.9em;
    text-align: right;
}

@media screen and (min-width: 640px) {
    .mapboxgl-ctrl-geocoder {
        width: 33.3333%;
        font-size: 15px;
        line-height: 20px;
        max-width: 100% !important;
    }
}

#introContent{
    position: absolute;
    width: 80%;
    max-width: 860px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    color: white;
}
#introContent h1 {
    font-size: 6em;
    width: 100%;
    text-align: center;
}

#introVideo {
    background-color: rgb(0, 0, 0);
    transition: top 1s;
}

#introVideo video {
    opacity: 0.5;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}

/* ------------------------------------- */
/* ------------ map styles ------------ */
/* ------------------------------------- */
.user-info {
    margin: 8px 0;
}