:root {
    --side-width: 240px;
    --side-margin: 10px;
    --primary-yellow: #ffcc00;
    --primary-green: #006633;
}

body, main {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
}
aside {
    position: absolute;
    top: var(--side-margin);
    bottom: var(--side-margin);
    left: var(--side-margin);
    width: var(--side-width);
    background: rgb(255, 255, 255);
    z-index: 100;
    border-radius: 10px;
    box-shadow: 4px 4px 16px rgba(0,0,0,0.15);
}

#progressContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.619);
    z-index: 1000;
    padding: 45vh 10%;
    
}

form {
    margin-bottom: 40px;
}

#userLocation, #projectLocation {
    width: 100%;
}
#userLocation .mapboxgl-ctrl-geocoder, #projectLocation .mapboxgl-ctrl-geocoder {
    width: 100%;
    box-shadow: none;
    border: 1px solid #ced4da;
}
.mapboxgl-ctrl-geocoder--icon-search {
    width: 0;
    display: none !important;
}
.mapboxgl-ctrl-geocoder--input {
    padding-left: 16px !important;
}

.user-info {
    margin: 20px;
}
.user-info-items {
    margin-bottom: 20px;
}
.image-preview {
    background: #eee;
    padding: 0;
    overflow: hidden;
}
.input-container {
    background: rgba(255, 255, 255, 0.651);
    width: 100%;
    padding: 8px;
}
#notifBar {
    width: 100%;
    text-align: center;
    padding: 20px;
    height: 60px;
    background: #ffe168;
    border: 1px solid #ffcc00;
    border-radius: 8px;
    position: fixed;
    top: 20px;
    left: 20%;
    width: 60%;
    z-index: 100;
}
#notifBar p {
    width: 100%;
    text-align: center;
}
#notifBar i {
    position: absolute;
    top: 4px;
    right: 4px;
}
#notifBar i:hover {
    cursor: pointer;
}
#btnSubmit {
    margin-top: 40px;
    background: #006633;
}
#btnSubmit:hover {
    background: #258856;
}


/* Faculty */
.login {
    color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.947);
    z-index: 10000;
    padding: 200px 10%;
}
.login p {
    text-align: center;
}

.login-form {
    position: relative;
    width: 300px;
    margin: 40px auto;
}
.login-form label {
    font-weight: 600;
}

#btnLogin {
    display: block;
    width: 200px;
}
.auth-btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}



.overlay-full {
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(26, 26, 26, 0.694);
    z-index: 10000;
    padding: 200px 10%;
}
.overlay-full p {
    text-align: center;
}
#uploadInfoLabel {
    font-size: 2em;
}

footer {
    display: block;
    background: #eee;
    width: 100% !important;
    padding-top: 40px;
    margin-top: 80px;
    padding-bottom: 16px;
}

.social-media .fab {
    font-size: 2em;
    margin: 18px;
    color: #006633;
}

.popup-social {
    margin-top: 40px;
}

.popup-social-media .fab {
    font-size: 2.5em;
    margin: 18px;
    color: #ffcc00;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.297);
}

td {
    padding: 4px !important;
}
.expanded {
    position: absolute;
    width: 360px;
    height: 360px;
}
.hide {
    display: none;
}


/* Faculty Form Styles */


.project-card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ffcc00;
    border-radius: 9px;
    opacity: 1;
    display: flex;
    position: relative;
    margin: 30px 0;
    padding: 20px;
    overflow: hidden;
}
.project-content {
    display: flex;
    width: calc(100% - 56px);
}
.project-info {
    width: 50%;
}

.project-description {
    width: 50%;
    overflow-y: auto;
    padding-left: 16px;
}
.project-operations {
    width: 44px;
    background: #acacac;
    border-radius: 0px 8px 8px 0px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
.project-details p {
    margin-bottom: 0;
}
.operation-btn {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgb(240, 240, 240);
}
.delete-btn {
    height: 50%;
}
.edit-btn {
    height: 50%;
}
.save-btn {
    height: 50%;
    background: #ffcc00;
}
.cancel-btn {
    height: 50%;
}
.add-btn {
    background: #ffcc00;
}
.labeled-icon p {
    font-size: 0.8em;
    margin: 0;
}
.operation-btn i {
   font-size: 1em;
}
.operation-btn:hover {
    cursor: pointer;
    opacity: 0.8;
 }
.operation-btn .fa-edit {
    color: #006633;
}
.operation-btn .fa-trash {
    color: #ff0066;
}

#btnAddRow {
    width: 100%;
}

#formPopup {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #0000009f;
    z-index: 100;
}

.popup-form {
    background: white;
    width: 60%;
    max-width: 760px;
    min-width: 400px;
    margin: auto;
    margin-top: 40px;
    padding: 20px 40px 40px 40px;
    border-radius: 14px;
}
.popup-title {
    text-align: center;
    margin-bottom: 20px;
}

.new-project {
    margin-bottom: 160px;
}

.new-project .col {
    padding-right: 4px;
    padding-left: 4px;
}
.new-project .row {
    margin-bottom: 15px;
}

.new-project .row:last-child {
    margin-bottom: 0;
}

.new-project .project-info {
    padding: 0 10px;

}

.edit-project {
    position: fixed;
    top: 20vh;
    left: 5%;
    right: 5%;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.297);
    border: 2px solid #006633;
}
.edit-project > * {
    z-index: 100
}
.edit-project::after {
    position: fixed;
    content: "Edit your Entry";
    text-align: center;
    font-size: 2em;
    padding-top: 10vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.94);
    z-index: 1;
}
.attachmentContainer {
    margin-top: 8px;
}
#btnAttach {

}
#attachmentTitle {
    display: inline-block;
}

.red {
    color: red;
}

.red-border {
    border: 1px solid rgb(255, 104, 87) !important;
}

.hide {
    display: none;
}

.word-count {
    display: block;
    width: 100%;
    font-size: 0.9em;
    text-align: right;
}

@media screen and (min-width: 640px) {
    .mapboxgl-ctrl-geocoder {
        width: 33.3333%;
        font-size: 15px;
        line-height: 20px;
        max-width: 100% !important;
    }
}

.form-control {
    margin-bottom: 20px;
}